.header,
.hero,
.body,
.bar,
.footer {
  background-color: seagreen;
  margin-bottom: 10px;
}
.box {
  margin: 10px 0;
  min-height: 80px;
  background-color: red;
  font-size: 30px;
  color: white;
}
.box2 {
  background-color: lime;
}
.five {
  background-color: royalblue;
}
